
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.pythonista/
*.log


venv/
.env/
.env.bak/
.venv/


.cache/
.mypy_cache/
.pytest_cache/
pytestdebug.log
.coverage
htmlcov/


uvicorn.pid


pip-log.txt


.env
.env.*        # e.g. .env.dev, .env.prod
*.env

*.db
*.sqlite
*.sqlite3
*.db-journal


*.rdb
celerybeat-schedule
celerybeat.pid


/staticfiles/
/media/


dist/
build/
develop-eggs/
.egg-info
.eggs/
wheels/


docker-data/
docker-compose.override.yml



node_modules/
dist/
*.map


.pyright/
