services:
  monolith:
    build:
      context: .
      dockerfile: monolith/docker/Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: on-failure
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
    environment:
      - DB_HOST=postgres
      - REDIS_HOST=redis
      - RABBITMQ_HOST=rabbitmq
    command: >
      sh -c "sleep 5 && 
            python -m uvicorn app.main:app --host 0.0.0.0 --port 8000"

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

  # notification-service:
  #   build: ./notification_service
  #   depends_on:
  #     - rabbitmq
  #     - redis

  # celery:
  #   build:
  #     context: .
  #     dockerfile: monolith/docker/Dockerfile
  #   command: celery -A app.tasks.celery_app worker --loglevel=info
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #     - monolith

